# 請複製為 .env，並將密碼換成安全的值。
TZ=Asia/Taipei

# Docker image 版本；升級前請先閱讀官方 release notes 並完成備份。
MYSQL_IMAGE=mysql:8.4
PHPMYADMIN_IMAGE=phpmyadmin:5.2-apache

MYSQL_ROOT_PASSWORD=replace_with_a_strong_root_password
MYSQL_DATABASE=myapp
MYSQL_USER=myapp_user
MYSQL_PASSWORD=replace_with_a_strong_user_password
MYSQL_PORT=3306
PMA_PORT=8080
# 路徑型反向代理需要時設定，例如：http://172.16.5.73/phpmyadmin/
# PMA_ABSOLUTE_URI=http://172.16.5.73/phpmyadmin/
PMA_UPLOAD_LIMIT=128M
PMA_MEMORY_LIMIT=256M
